# dates and strings - what you need to know

Working with datetime format
Standardizing input 
Using string functions

In [1]:
import pandas as pd

In [2]:
import numpy as np

### to work with dates, we need a data set that contains dates

In [3]:
file = pd.read_csv('web_data.csv')
file.dtypes

web_id           int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [4]:
#use head to review the file 
file.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18

In [5]:
#convert the date_time column to be read as a datetime data type 
file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')

In [6]:
#use head() to review the first 12 rows of the file
file.head(12)

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00
5,5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:00
6,6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:00
7,7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:00
8,8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:00
9,9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:00
10,10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:00
11,11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:00

In [ ]:
#use dtypes to see the new date time data type

In [ ]:
#use the day month year and index to check the month and day of the first row eg file['date_time'][0].year

In [ ]:
#pull out the time 
file['date_time'][0].time()

In [ ]:
#reformat the date - example 1
file['date_time'][0].strftime(format='%d-%M-%Y')

In [ ]:
#reformat the date - example 2
file['date_time'][0].strftime(format="%A %d. %B %Y")

In [ ]:
#create a filtered data frame by a particular date 
Apr_5 = file[file['date_time'] == '2017-04-05']

In [ ]:
Apr_5.head()

In [ ]:
#add a month column 
file['Month'] = pd.DatetimeIndex(file['date_time']).month

In [ ]:
#add a day column 
file['Day'] = pd.DatetimeIndex(file['date_time']).day

In [ ]:
#Review the data frame with head()

In [ ]:
#filter by a particular day 
file.query('Day=="5"')

In [ ]:
#challenge - filter the df for saturdays

In [ ]:
file.loc[file['date_time'].dt.weekday == 5]

### Relative time

In [ ]:
import time
from datetime import date
today = date.today()
today

In [ ]:
import time

In [ ]:
#your local time 
time.localtime(time.time())

In [ ]:
#current time in london
time.gmtime(time.time())

https://docs.python.org/3/library/time.html

Directive and their Meaning

%a Locale’s abbreviated weekday name.
%A Locale’s full weekday name.
%b Locale’s abbreviated month name.
%B Locale’s full month name.
%c Locale’s appropriate date and time representation.
%d Day of the month as a decimal number [01,31].
%H Hour (24-hour clock) as a decimal number [00,23].
%I Hour (12-hour clock) as a decimal number [01,12].
%j Day of the year as a decimal number [001,366].
%m Month as a decimal number [01,12].
%M Minute as a decimal number [00,59].
%p Locale’s equivalent of either AM or PM.
%S Second as a decimal number [00,61].
%U Week number of the year (Sunday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Sunday are considered to be in week 0.
%w Weekday as a decimal number [0(Sunday),6].
%W Week number of the year (Monday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Monday are considered to be in week 0
%x Locale’s appropriate date representation.
%X Locale’s appropriate time representation.
%y Year without century as a decimal number [00,99].
%Y Year with century as a decimal number.
%z Time zone offset indicating a positive or negative time difference from UTC/GMT of the form +HHMM or -HHMM, where H represents decimal hour digits and M represents decimal minute digits [-23:59, +23:59].
%Z Time zone name (no characters if no time zone exists).
%% A literal '%' character.

# String functions

In [ ]:

# https://docs.python.org/2.5/lib/string-methods.html

In [ ]:
string = " I am learning  data  analysis at Ironhack  . It is  the BEST! "

In [ ]:
string.lower()

In [ ]:
string.upper()

In [ ]:
#we can identify numbers in strings 
'34'.isdigit() # hint: this does not work with decimal numbers

In [ ]:
subjects='data science, coding  , python, visualisation '

In [ ]:
#using a basic split around the comma 
subjects.split(', ')

In [ ]:
#combine split on column with trim of whitespace
pieces = [x.strip() for x in subjects.split(',')]
pieces

In [ ]:
#keyword search 
'data science' in subjects

In [ ]:
str='data scientists too'

In [ ]:
#isolate part of a string using index 
str[5:-4]

In [ ]:
#replace
'its hard playing with strings'.replace('hard','brilliant')

In [ ]:
#use left strip to remove characters 
text="..ssshhh..,,,,aaaahsdata"
x = text.lstrip(".,ash")
x

In [ ]:
#use left strip to remove leading white space
text2="     whoami?"
y= text2.lstrip()
y

In [ ]:
#substring count 
my_string = "How many fruits do you have in your fruit basket?"
my_string.count("fruit")